@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptyg83HX_SGhgqO0yLcmjzUAuWexc1RwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v1/1Ptyg83HX_SGhgqO0yLcmjzUAuWexTpWwaA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.title {
  font-size: 5rem;
  font-weight: 900;
  color: #120f16;
}
span {
  color: #f25270;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
section {
  min-height: 100vh;
}
.primary-footer {
  background-color: #120f16;
  padding: 3rem 0;
  color: #fff;
}
.fa-twitter {
  color: #1da1f2;
}
.primary-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.primary-footer h5 {
  font-size: 1.2rem;
  margin-bottom: 0.8em;
}
.footer-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.footer-link:hover,
.footer-link:focus {
  color: #f25270;
}
.footer-nav {
  list-style: none;
}
.footer-nav li {
  margin: 0.6rem 0;
}
.footer-info p {
  margin: 0.6rem 0;
}
.btn-container {
  margin: 2rem 0;
}
.btn {
  padding: 0.8rem 1.6rem;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.btn.btn-primary {
  background-color: #f25270;
  transition: all 0.4s ease-in-out;
}
.btn.btn-primary:hover {
  background-color: #a6283f;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.55);
  transform: scale(1.03);
  letter-spacing: 0.4;
}
.primary-nav {
  height: 80px;
  display: flex;
  align-items: center;
  color: #120f16;
}
.primary-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-logo {
  color: #120f16;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.main-logo:hover {
  color: #f25270;
}
.main-logo h1 {
  font-weight: 900;
}
.primary-nav__menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.primary-nav__menu li {
  padding: 0.8rem 1.6rem;
}
.primary-nav__link {
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
}
.primary-nav__link:hover {
  color: #f25270;
}
.primary-nav__link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #d94a64;
  width: 0%;
  bottom: -3px;
}
.primary-nav__link:hover::before {
  width: 100%;
}
.home__hero {
  background-image: url(../../../assets/pig.jpg);
  background-size: cover;
  background-position: bottom;
}
.home__hero > .container {
  display: flex;
  align-items: center;
  transform: translateY(100%);
}
.home__hero .title {
  width: 58%;
}
.home__main-content {
  background-color: #2a2333;
  color: #fff;
  text-align: left;
  position: relative;
}
.home__main-content img {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: 0;
}
.home__main-content .img-overlay {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.75));
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
}
.home__main-content .content {
  padding: 9rem 5rem 9rem 0;
  z-index: 1;
  position: relative;
  width: 80%;
}
.content h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
.content h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.content p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.home__data-content {
  padding: 9rem 0;
  background-color: #120f16;
  color: #fff;
}
.home__data-content .container {
  display: flex;
  justify-content: space-between;
}
.home__data-content .data-container {
  width: 50%;
  padding: 0 4rem;
  text-align: center;
}
.home__data-content .data-container p {
  margin-bottom: 1rem;
}
.home__data-content .content {
  width: 50%;
}
.home__data-content .content-body {
  font-size: 1.2rem;
  line-height: 2rem;
}
.content-body + .content-body {
  margin-top: 2rem;
}
.call-to-action {
  background-color: #2a2333;
  min-height: 50vh;
  padding: 9rem 0;
  color: #fff;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 3rem;
}
.cards-container .card {
  padding: 2rem;
  border: 3px solid #fff;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
  text-align: center;
}
.cards-container .card:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.55);
  background: #fff;
  color: #120f16;
  transform: translateY(-0.5rem);
}
.cards-container .card:hover a {
  color: #120f16;
}
.cards-container .card .card-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: all 0.4s ease-in-out;
}
.cards-container .card:hover .card-icon {
  color: #171026;
}
.cards-container .card h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.cards-container .card p {
  line-height: 1.6rem;
  margin-bottom: 1rem;
}
.cards-container .card a {
  color: #fff;
  transition: color 0.4s ease-in-out;
}
.cards-container .card a:hover,
.cards-container .card a:focus {
  color: #a6283f;
}
